body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

.container {
    text-align: center;
    width: 60%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.google-logo img {
    width: 150px;
}

.apps-icon img {
    width: 24px;
    cursor: pointer;
}

.search-container {
    margin: 20px 0;
}

#search-bar {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 18px;
}

.bookmarks-container {
    margin-top: 30px;
    text-align: left;
}

.bookmarks-container h2 {
    font-size: 24px;
}

#bookmarks-list {
    list-style: none;
    padding: 0;
}

#bookmarks-list li {
    margin: 10px 0;
}

.more-apps-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.modal-content ul {
    list-style: none;
    padding: 0;
}

.modal-content ul li {
    margin: 10px 0;
}
